/*
.chart{
    background-color: #D5E5F2;
    border: 2px solid #A7C6D9;
    height: 300px;
}
.chart:first-child{
    border-right: 0;
}
.chart:last-child{
    border-left: 0;
}
.mainChart{
    padding:0 15px 0 15px;
}*/
body{
    background-color: #fefefe;
}
header{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #81c31f;
    background-color: #fefefe;
}
header>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
header img{
    width: auto;
    height: 5vh;
    padding-left:1px;
}

#logo{
    width: 26%;
    height: 7vh;

}
#topic{
    width: 30%;
    height: 7vh;
}
#topic h2{
    padding-top: 3vh;
    font-size: 1em;
    font-weight:bold;
    color:#81c31f ;
}
#topic1{
    width: 30%;
    height: 7vh;
}
#topic1 h2{
    padding-top: 3vh;
    font-size: 1em;
    font-weight:bold;
    color:#81c31f ;
}
.navheader{
    width: 25%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navheader>nav{
    height: 6vh;
    width: auto;
    position: static;
    margin: 0;
    float: right;
    top: 0;
    display: flex;
    align-items: center;
}
.navheader>nav>ul{
    display: inline-flex;
    margin: 0;
    right: 0;
    flex-wrap: wrap;
}
.navheader>nav>ul>li>a{
    height: 6vh;
    line-height: 6vh;
    padding: 0 50px;
    border-bottom: none;
    font-size: 2vw;
    font-weight: 600;
    color: #0c5460;
}

.navheader nav ul li:hover .fa{

    color: #34ce57
}
.submenu{
    display: none;


}
.submenu>ul>li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.submenu>ul>li>a {
    height: 4vh;
    line-height: 4vh;
    padding: 0 33px;
    color: #0b2e13;
}
.navheader nav ul li:hover .submenu{
    display: block;
    position: absolute;
    margin-top: 1px;
    z-index: 1;
}
.navheader nav ul li:hover .submenu ul{
    display: block;
    margin-left: 0px;
    height: 4vh;
    align-items: center;
}
.navheader nav ul li:hover .submenu ul li{
    idth:auto;
    padding: 0;
    background-color: #8fd19e;
    color:#0b2e13;
    border-bottom:2px solid #0c5460;
    height: 4vh;
    margin-left: 0;

}
#btnLogout{
    width: 19%;
    height: 7vh;

}

#logout{
    width: 5rem;
    height: 2.5rem;
    color: #131313;
    background-color:#81c31f ;
    border: 1px solid #81c31f;
    padding-top: 1vh;
    margin-right: 0;
    text-align: center;
}
#logout:hover{
    color:#81c31f;
    background-color:#131313 ;
    border: 1px solid #131313;
}
#datePicker{
    width: 100%;
    height: 6vh;
    margin-top: 5vh;
    background-color: #1b1e21;
    display: flex;
    align-content: center;

}
#datePicker>div{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    padding: 10px;
}
#datePicker>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#datePicker input{
    width: 11rem;
    height: 4vh;

    font-size:.6em ;
}
#datePicker label{
    width: 4rem;
    height: 4vh;

    color:#81c31f;
    text-align: center;
    font-size:.6em ;

}
#tableSec{
    width: 100%;
    height: 78vh;
     display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;


}
#tableSec>div{
     width: 99%;
    height: 76vh;
    overflow: auto;

}
#tableSec>div>table{
    width: 100%;
    height: auto;
}
#tableMain>thead{
    width: 100%;
    height: 6vh;
    background-color: #131313;
    color:#81c31f;
    font-size: 0.6em;
    font-weight: 700;

}
#tableMain>thead>tr{
    height: 6vh;
    width: 100%;
}
#tableMain>thead>tr>th{
    width: 16.6666%;
    height: 6vh;
    background-color: #131313;
    text-align: center;
    border-right: 2px solid #ffffff;
}
#tableMain>tbody td{
    border-right: 2px solid #ffffff;
    height: 3vh;
    text-align: center;
    color: #292929;
    font-size: 0.6em;
}
#tableMain>tbody tr:nth-child(odd){

    background-color: #969696;
}
#tableMain>tbody tr:nth-child(even){
    background-color: #d5d5d5;

}

.btn{
    background-color: #81c31f;
    font-size: 0.6em;
    border: 2px solid #81c31f;
    color:#131313 ;
}
.btn:hover{
    background-color: #131313;
    color: #81c31f;
    border: 2px solid #131313;
}
#mainChart{
    width:100%;
    height:auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.border-primary {
    border-color: #0b2e13!important;
}
.mainChartSec{
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;


}
.tableHeading{
    width: 100%;
    height: 4vh;
    color: #0b2e13;


}
.chartDetails{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.chartSub{
    width:100%;
    height:60vh;
    display: flex;
    flex-direction: column;

}
.charthead{
    width: 100%;
    height:60vh;
    background-color: #e8f1f9;
    border: 2px solid #0b2e13;
    border-radius: 10px;
}


.tableData{
    overflow:auto;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;

    justify-content: center;
}
.tableData>div{
    width: 90%;
    height: 50vh;
    overflow: auto;

}
.smallTable{
    width: 100%;
    margin: 0;

}
.smallTable>thead{
    width: 100%;
    height: 5vh;
    background-color: #131313;
    color:#81c31f;
    font-weight: 700;
}
.smallTable>thead tr{

    width: 100%;
}

.smallTable>thead>tr>th{
    background-color: #131313;
    text-align: center;
    border-right:2px solid #ffffff;
    font-size: .6em;
    height: 5vh;
    width: 50%;
}
.smallTable tbody{

    height: 45vh;
    width: 100%;
}
.smallTable>tbody>tr>td{
    font-size: 0.5em;
    font-weight: 600;
    color: #292929;
    width: 50%;
    height: 4vh;
}

.chartCsv{
    width: 100%;
    height: 5vh;
    position: relative;
    right: 20px;


}
.downloadBtn{
    width:6rem;
    height: 2.5rem;
    background-color: #0b2e13;
    color: #ffffff;
    font-size: 1em;
    border: 2px solid #0b2e13;
    border-radius: 10px;


}
#btnLogout1{
    display: none;
}
#btnLogout2{
    display: none;
}
#logingArt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;

}
#logingArt>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 30vh;
    border-radius: 10px;
    border: 2px solid #81c31f;
    padding: 5px;
    box-shadow: 3px 5px #81c31f;
}
#logingArt>div>form{
    width: 80%;
    height:20vh;

}

#logingArt1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;

}
#logingArt1>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 30vh;
    border-radius: 10px;
    border: 2px solid #81c31f;
    padding: 5px;
    box-shadow: 3px 5px #81c31f;
}
#logingArt1>div>form{
    width: 80%;
    height:20vh;

}
.logintext{
    box-sizing:content-box;
    width:100%;
    height: 5vh;
    padding-left:10px;
    background-color: #969696;
    color: #ffffff;
}
.logintext:hover{
    border-color: black;
}
#loginsubmit{
    width: 15%;
    height: 3vh;
    float: right;
    background-color: #0b2e13;
    color: #cbd3da;
    font-size: 0.8rem;
}
#loginsubmit1{
    width: 15%;
    height: 3vh;
    float: right;
    background-color: #0b2e13;
    color: #cbd3da;
    font-size: 0.8rem;
}
.restpsaa{
    width: 100%;
    height: 2vh;

}
.restpsaa>a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #ff0000;
    float: right;
    padding-right: 20px;
}
#tbUserInfo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#tbUserInfo h4{

    color: #4e555b;
    font-size: 1.5rem;
    padding: 1vh;
}
#userInfor thead{
    background-color: #1d2124;
    color: #ffffff;

}
#userInfor_length>label{
    color: #34ce57;
}
#userInfor_filter {
    color: #34ce57;
}

#userInfor_info{
    padding: 5px;
    color: #ff0000;
}
#userinfor_paginate{
    color: #ff0000;
}
#signupsec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#artsignup{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#artsignup h4{
    color: #4e555b;
    font-size: 1.5rem;
    padding: 1vh;
}
#signupmaindiv{
    width: 50%;
    height: 50vh;
    background-color:#D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#signupmaindiv>form{
    width: 70%;
    height: 45vh;
    border-radius: 10px;
    border: 2px solid #2c3033;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
}

.signupforma{
    width: 80%;
    height: 3vh;
    background-color: #fefefe;
    font-size: 1rem;
    color: #272a2d;
}
#form-create-user p{
    color: red;
    font-size: 1rem;
}
#role{
    float: left;
    width: 80%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;

}
.sr{
    color: #34ce57;
    font-size: 1rem;
    float: left;
    padding-left: 10px;
}
#submitbutton{
    width: 30%;
    height: 4vh;
    float: right;
    background-color: #0b2e13;
    color: #cbd3da;
    font-size: 0.8rem;
}
#login-error{
    color: #ff0000;
    font-size: 0.9rem;
}
#resetpasswordarticle{
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    height: auto;
    justify-content: center;
}
#resetpassword{
    display: flex;
    align-items: center;
    width: 30%;
    height: 20vh;
    border: 2px solid #c9dbeb;
    background-color: #f5f5f5;
    justify-content: space-between;
    flex-direction: column;
}
#resetpassword h2{
    font-size: 1.5rem;
    font-weight: 500;
}
#resetpassword form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
}
#resetpassword label{
    width: 100%;
    height: 3vh;
    background-color: #a7a7a7;
    color: #071c0d;
    text-align: center;

}
#passworduser{
    width: 100%;
    height: 5vh;
    background-color: #a7a7a7;
    color: #071c0d;
}
#passwordresetformsec{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#resetpsformarticle{
    width: 50%;
    height: 35vh;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    display: flex;
}
#resetpasformdiv{
    width: 90%;
    height: auto;
    border: 2px solid #808080;
}
#resetpasformdiv form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
#resetpasformdiv h4{
    font-weight: 300;
    font-size: 1.2rem;
    padding: 2px;
}
#formUpdatesec{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 5vh;
}
#formUpdatearticle{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 2px solid #808080;
}
#formUpdatediv{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2px;
    margin: 0;
}
#formUpdatediv form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#formUpdatediv h4{
    font-weight: 300;
    font-size: 1.2rem;
    padding: 2px;
    text-decoration: underline;

}







