{{template "head"}}
<header>
    <div id="logo">
        <img src="/public/img/logo.jpg">
    </div>
    <div id="topic">
        <h2>PROXIMITY ANALYSIS</h2>
    </div>
    <div id="btnLogout1">
        <button id="logout">Logout</button>
    </div>
</header>
<section id="loginSEc">
    <article id="logingArt">
        <div>
            <form method="POST" action="/login">
                <input type="text" name="username" placeholder="email"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="submit">
            </form>

        </div>
    </article>
</section>
<h3>User login  </h3>


{{template "footer"}}
