{{template "head"}}
<header>
    <div id="logo">
        <img src="/public/img/logo.jpg">
    </div>
    <div id="topic">
        <h2>PROXIMITY ANALYSIS</h2>
    </div>
    <div id="btnLogout1">
        <button id="logout">Logout</button>
    </div>
</header>
<section id="loginSEc">
    <article id="logingArt">
        <div>
            <form method="POST" action="/login" id="form-user-login">
                <input type="text" name="username" placeholder="email" class="logintext"><br><br>
                <input type="password" name="password" placeholder="password" class="logintext"><br><br>
                <input type="submit" value="Login" id="loginsubmit" onclick="checkLoginStatus()">
                <p class="form-field-err" id="login-error"></p>
            </form>

        </div>
    </article>
</section>



{{template "footer"}}
