{{template "head"}}
<header>
    <div id="logo">
        <img src="/public/img/logo.jpg">
    </div>
    <div id="topic">
        <h2>PROXIMITY ANALYSIS</h2>
    </div>
    <div id="btnLogout1">
        <button id="logout">Logout</button>
    </div>
</header>
    <section>
        <article id="resetpasswordarticle">
            <div id="resetpassword" class="addpasswordreset">
                <h2>Password Rest</h2>
                <form method="post" action="/resetpassowrdprocess">
                    <label>Email address</label>
                    <input type="email" name="username" placeholder="email address" id="passworduser"/><br/>
                    <input type="submit" value="submit" id="submitbutton">
                </form>

            </div>

        </article>
    </section>
{{template "footer"}}