{{template "head"}}
<header>
    <div id="logo">
        <img src="/public/img/logo.jpg">
    </div>
    <div id="topic">
        <h2>PROXIMITY ANALYSIS</h2>
    </div>
    <div id="btnLogout1">
        <button id="logout">Logout</button>
    </div>
</header>
<section id="passwordresetformsec">
    <article id="resetpsformarticle">
        <div id="resetpasformdiv">
            <h4> Enter new password</h4>
            <form method="post" action="/addresetpasswordprocess" id="form-create-user">
                <input type="text" name="username" class="signupforma"placeholder="email" required value="{{.UserName}}" readonly><br/>
                <input type="password" name="password" id="password" class="signupforma" placeholder="password"><br>
                <input type="password" name="password" id="password2"class="signupforma"  placeholder="confirm password"><br>
                <p class="form-field-err" id="password-err"></p>
                <input type="submit"  id="submitbutton">
            </form>
        </div>
    </article>
</section>



<script>
    var formUser = document.querySelector('#form-create-user');
    var p1 = document.querySelector('#password');
    var p2 = document.querySelector('#password2');

    var pErr = document.querySelector('#password-err');

    //    Validate passwords
    //    listen for submit button click
    formUser.addEventListener('submit', function(e){
        var ok = validatePasswords();
        if (!ok) {
            e.preventDefault();
            return;
        }
    });

    function validatePasswords() {
        pErr.textContent = '';
        if (p1.value === '') {
            pErr.textContent = 'Enter a password.';
            return false;
        }
        if (p1.value !== p2.value) {
            pErr.textContent = 'Your passwords did not match. Please re-enter your passwords.';
            p1.value = '';
            p2.value = '';
            return false;
        }
        return true;
    };

</script>