<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
    <i class="fa fa-calendar"></i>&nbsp;
    <span></span> <i class="fa fa-caret-down"></i>
</div>

<script type="text/javascript">
    $(function() {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    });
</script>

<div >
    <label><span>From</span></label>
    <input type="date" class="form-control" id="fromDate">
</div>
<div>
    <label><span>To</span></label>
    <input type="date" class="form-control" id="toDate">
</div>

<!-- Date ranger doc---->
<div class="col-md-4 text-center pl-0 pr-0">

    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="text-info text-uppercase small font-weight-bold" id="showDateRange"></span>
        </li>
        <li class="list-inline-item">
            <div id="customer_reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:60px">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down fa-lg"></i>
            </div>
        </li>
        <li class="list-inline-item"><input class="form-control xsm-2 w-100" id="Search_Customer" type="search" placeholder="Search" style="border-radius:0"></li>

    </ul>

</div>
<li class="list-inline-item">
    <span class="text-info text-uppercase small font-weight-bold" id="showDateRange"></span>
</li>
<li class="list-inline-item">
    <div id="customer_reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width:60px">
        <i class="fa fa-calendar"></i>&nbsp;
        <span></span> <i class="fa fa-caret-down fa-lg"></i>
    </div>
</li>