{{template "head"}}
{{template "header"}}
    <section id="tbUserInfo">
        <div id="userTb">
            <table id="userInfor">
                <thead>
                <tr>
                    <th>Email Address</th>
                    <th>First Name</th>
                    <th>Laset Name</th>
                    <th>Role</th>
                </tr>
                </thead>
                {{range .}}
                <tbody>
                <tr>
                    <td>{{.UserName}}</td>
                    <td>{{.FirstName}}</td>
                    <td>{{.LastName}}</td>
                    <td>{{.Role}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </section>
{{template "footer"}}